<div class='row'>
<div class='center'>
  <h1>Services: <%= @vehicle.model %></h1>
  <%= image_tag @vehicle.avatar_url(:thumb) %>
</div>

<%= link_to "Add Service", new_vehicle_service_path(@vehicle), class: 'btn' %>
<br />
<% @services.each do |service| %>
  <h3><%= link_to service.name, vehicle_service_path(@vehicle, service) %></h3>
<% end %>

</div>


