<div class="container">
  <h3>Maintenance Log for <%= current_user.username %></h3>
  <hr />
  <% if user_signed_in? %>
    <% if current_user.vehicles.count < 2 %>
      <h3 class="orange-text">You have <%= link_to "#{current_user.vehicles.count} vehicle", vehicles_path %></h3>
    <% else %>
      <h3 class="orange-text">You have <%= link_to "#{current_user.vehicles.count} vehicles", vehicles_path %></h3>
    <% end %>
  <% else %>
    <h3>Welcome to your new vehicle maintenance log.</h3>
    <p>Clean out your glove box. We've got you covered.</p>
      <ul>
        <li>With Maintenance Log you can:</li>
        <li>&nbsp&nbsp&nbspAdd all of your vehicles</li>
        <li>&nbsp&nbsp&nbspKeep track of all of your repairs, oil changes, etc.</li>
        <li>&nbsp&nbsp&nbspCreate a list of future repairs, errands, and projects</li>
      </ul>
    <h3>So what are you waiting for!</h3>
    <h3>Sign up (or log back in)</h3>
  <% end %>
</div>